<!DOCTYPE html>
<html>
  <head>
    <title>Øredev 2014 Angular Workshop</title>

    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body class="container" ng-app="app" ng-controller="gameCtrl">
      <h1>Airstrike!</h1>
      <!-- TODO: Status should display "You may fire when ready." "HIT!" "MISS!" or "You win!" -->
      <h2>Status: {{ game.status() }}</h2>
      <!-- TODO: Form submit should fire shots. -->
      <form ng-submit="game.fire(shot)">
          <input type="text" placeholder="A1" ng-model="shot">
          <button class="btn">Fire!</button>
      </form>

      <!-- TODO: Add tracking grid -->

      TODO: Finish the grid
      TODO: Display a red x on the grid when the player hits
      TODO: Display a o on the grid when the player misses
      TODO: Allow the player to fire by clicking on the grid
      TODO: Randomize the placement of enemy ships
      <table class="table table-bordered">
          <tr>
              <th ng-repeat="header in game.columnHeaders">{{ header }}</th>
          </tr>
      </table>

    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
