<!DOCTYPE html>
<html>
    <head>
        <title>Øredev 2014 Angular Workshop</title>

        <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
    </head>
    <body>
        <h1>Øredev 2014 Angular Workshop</h1>
        <div ng-app="app" ng-controller="listCtrl">
            <h2>List</h2>

            <form ng-submit="addTask(description)">
                <input ng-model="description">
                <button class='btn btn-default'>Add</button>
            </form>

            <ul class='list-unstyled'>
                <li ng-repeat="task in tasks">
                    <input type="checkbox" ng-model="task.complete">
                    {{ task.description }}
                </li>
            </ul>

        </div>


        <p><strong><a href='http://youtu.be/IAS_7gAR-Y0'>(Video Walkthrough)</a></strong></p>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
