<!DOCTYPE html>
<html>
  <head>
    <title>Øredev 2014 Angular Workshop</title>

    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body class="container">
      <h1>Øredev 2014 Angular Workshop</h1>
      <!-- TODO: Add ng-app directive to div -->
      <div>
          <!-- TODO: Change the following h2 to look like: <h2>My name is {{ name }}</h2> -->
          <h2>Test: {{ 1 + 1 }}</h2>
          <!--TODO Add ng-model='name' to the input element: <input ng-model='name'> -->
          <p><input placeholder='Full Name'></p>
      </div>



      <br />
      <br />
      <ul>
          <li>
              <strong><a href='http://youtu.be/Uf4wsJZtxBY'>(Video Walkthrough)</a></strong> The user should be able to enter their name.
          </li>
          <li>
              Replace the name field with first, middle, and last name fields. Display the full name.
          </li>
          <li>
              <strong>(Bonus)</strong> The user may omit the middle name. If they do, ensure there is only a single space between the first and last name.
          </li>
      </ul>
      <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
