<!DOCTYPE html>
<html>
  <head>
    <title>Øredev 2014 Angular Workshop</title>

    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body>
      <h1>My Name Is</h1>
      <!-- TODO Add ng-app to the following div <div ng-app> -->
      <div>
          <!-- Change the following h1 to look like: <h1>My name is {{ name }}</h1> -->
          <h1>Test: {{ 1 + 1 }}</h1>
          <!--TODO Add ng-model='name' to the input element: <input ng-model='name'> -->
          <input placeholder='Bob'>
      </div>



      <br />
      <br />
      <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
